.navbar-size {
    width: 95%;
    margin: 0 auto;
    background-color: #4e1049;
}
.user-image-size {
    height: 56px;
    margin: 4px 0;
}
.main-body {
    background-color: #d3cfe4;
    color: white;
}
.materialboxed-image {
    margin: 0 auto;
    height: 400px;
}
.click-me-button {
    background-color: #4e1049;
    margin-top: 50px;
}
.card-text {
    color:black;
}